.primary{
	background-color: #f44336 !important;
}

.secondary {
  background-color: #e57373 !important;
}

table thead, table tfoot{
	background-color: #e57373 !important;
}
table thead tr td, table tfoot tr td, table thead tr th, table tfoot tr th{
	border:1px #DEDEDE solid !important;
}

table.striped>tbody>tr:nth-child(odd) , 
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd,
 table.dataTable.display tbody tr.odd>.sorting_1,
 table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #ffebee !important;
}

.header2{
	border-bottom: 2px solid #e57373;
	color: #e57373;
	line-height:30px;
	padding-left:20px;
	width:35%;
	padding-right:20px;
	
}